 /* eslint-disable */
<template>
    <div>Child Component</div>
</template>

<script>
export default {
  name: 'ChildVue',
    beforeCreate() {
        console.log('Child Before Create')
    },
    created() {
        console.log('Child Created')
    },
    beforeMount() {
        console.log('Child Before Mount')
    },
    mounted() {
        console.log('Child Mounted')
    },
    beforeUpdate(){
        console.log('Child Before Update')
    },
    updated(){
        console.log('Child Updated')
    },
    beforeUnmounted(){
        console.log('Child Before Unmount')
    },
    unmounted(){
        console.log('Child Unmounted')
    },
}
 /* eslint-disable */
</script>
