<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      Q: Can you describe lifecycle hooks
    </p>
    <p>
      A: Check the console. 
    </p>
    <h3>References</h3>
    <ul>
      <li><a href="https://vuejs.org/guide/essentials/lifecycle.html" target="_blank" rel="noopener">Vue Docs</a></li>
      <li><a href="https://learnvue.co/2020/12/how-to-use-lifecycle-hooks-in-vue3/#what-are-the-vue-lifecycle-hooks" target="_blank" rel="noopener">Learn Vue</a></li>

    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
