<template>
    <div>
        Parent Component
        <button @click="showChild = !showChild">Toggle Child</button>
        <ChildVue v-if="showChild" />
    </div>
</template>

<script>
import ChildVue from './Child.vue'

export default {
    name: 'ParentVue',
    components: { ChildVue },
    data() { return {showChild: true}},
    beforeMount() {
        console.log('Parent Before Mount')
    },
    mounted() {
        console.log('Parent Mounted')
    },
    beforeUpdate(){
        console.log('Parent Before Update')
    },
    updated(){
        console.log('Parent Updated')
    },
    beforeUnmounted(){
        console.log('Parent Unmounted')
    },
    unmounted(){
        console.log('Parent Unmounted')
    },
}
 /* eslint-disable */
</script>