<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>demo List</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(Demo, index) in demo"
          :key="index"
          @click="setActiveDemo(Demo, index)"
        >
          {{ Demo.title }}
        </li>
      </ul>

      <button class="m-3 btn btn-sm btn-danger" @click="removeAlldemo">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div v-if="currentDemo">
        <h4>Demo</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentDemo.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label> {{ currentDemo.description }}
        </div>
        <div>
          <label><strong>Status:</strong></label> {{ currentDemo.published ? "Published" : "Pending" }}
        </div>

        <router-link :to="'/demo/' + currentDemo.id" class="badge badge-warning">Edit</router-link>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Demo...</p>
      </div>
    </div>
  </div>
</template>

<script>
import DemoDataService from "../services/DemoDataService";

export default {
  name: "demo-list",
  data() {
    return {
      demo: [],
      currentDemo: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrievedemo() {
      DemoDataService.getAll()
        .then(response => {
          this.demo = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrievedemo();
      this.currentDemo = null;
      this.currentIndex = -1;
    },

    setActiveDemo(Demo, index) {
      this.currentDemo = Demo;
      this.currentIndex = Demo ? index : -1;
    },

    removeAlldemo() {
      DemoDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchTitle() {
      DemoDataService.findByTitle(this.title)
        .then(response => {
          this.demo = response.data;
          this.setActiveDemo(null);
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrievedemo();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>