<template>
  <div v-if="currentDemo" class="edit-form">
    <h4>Demo</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title"
          v-model="currentDemo.title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
          v-model="currentDemo.description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentDemo.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button class="badge badge-primary mr-2"
      v-if="currentDemo.published"
      @click="updatePublished(false)"
    >
      UnPublish
    </button>
    <button v-else class="badge badge-primary mr-2"
      @click="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2"
      @click="deleteDemo"
    >
      Delete
    </button>

    <button type="submit" class="badge badge-success"
      @click="updateDemo"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Please click on a Demo...</p>
  </div>
</template>

<script>
import DemoDataService from "../services/DemoDataService";

export default {
  name: "Demo",
  data() {
    return {
      currentDemo: null,
      message: ''
    };
  },
  methods: {
    getDemo(id) {
      DemoDataService.get(id)
        .then(response => {
          this.currentDemo = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updatePublished(status) {
      var data = {
        id: this.currentDemo.id,
        title: this.currentDemo.title,
        description: this.currentDemo.description,
        published: status
      };

      DemoDataService.update(this.currentDemo.id, data)
        .then(response => {
          console.log(response.data);
          this.currentDemo.published = status;
          this.message = 'The status was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateDemo() {
      DemoDataService.update(this.currentDemo.id, this.currentDemo)
        .then(response => {
          console.log(response.data);
          this.message = 'The Demo was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteDemo() {
      DemoDataService.delete(this.currentDemo.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "demos" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getDemo(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>