<template>
        <h1>Details for Event Here </h1>
        <span>@ {{event.time}} on {{event.date}}</span>
        <p>{{event.description}}</p>
</template>

<script>
export default {
    props: ['event']
}
</script>
