<template>
        <h1>Edit Event Here </h1>
</template>

<script>
export default {
    props: ['event'],
    data() {
        return {
            unsavedChanges: false //change to true to view alert
        }
    },
    beforeRouteLeave(){
        if(this.unsavedChanges) {
            const answer = window.confirm(
                'Do you really want to leave? You have unsaved changes!'
            )
            if (!answer){
                return false
            }
        }
    }
}
</script>
