<template>
        <h1>Register for Event Here </h1>
        <button @click="register"> Register Me </button>
</template>

<script>
export default {
    props: ['event'],
    inject: ['GStore'],
    methods: {
        register(){
            //call api
            this.GStore.flashMessage = 'You are successfully registered for '+ this.event.title
            setTimeout(() => {
                this.GStore.flashMessage = ''
            }, 3000)
            this.$router.push({
                name: 'Details'
            })
        }
    }
}
</script>
