<template>
  <div class="events">
    <h1> Events for Good </h1>
    <EventCard v-for="event in events" :key="event.id" :event="event"/>
    <div class="pagination">
        <router-link
          id="page-prev"
          :to="{ name: 'EventList', query: { page: page - 1 }}"
          rel="prev"
          v-if="page != 1"
          >&#60; Previous</router-link
        >
        <router-link
          id="page-next"
          :to="{ name: 'EventList', query: { page: page + 1 }}"
          rel="next"
          v-if="hasNextPage"
          >Next &#62;</router-link
        >
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import EventCard from "@/components/EventCard.vue";
import EventService from '@/services/EventService.js';

export default {
  name: "EventList",
  props: ['page'],
  components: {
    EventCard,
  },
  data(){
    return {
      events: null,
      totalEvents: 0
    }
  },//create lifecycle hook is only called on init
  beforeRouteEnter(routeTo, routeFrom, next){
    //use watcheffect in vue to update page when router-link changes page
    //this makes the page reactive
    EventService.getEvents(2, parseInt(routeTo.query.page) || 1)
      .then(response => {
        next(comp => {
            comp.events = response.data
            comp.totalEvents = response.headers['x-total-count']
        })
      })
      .catch(() => {
        next({ name: 'NetworkError' })
      })
  },
  beforeRouteUpdate(routeTo){
    //use watcheffect in vue to update page when router-link changes page
    //this makes the page reactive
    return EventService.getEvents(2, parseInt(routeTo.query.page) || 1)
      .then(response => {
            this.events = response.data
            this.totalEvents = response.headers['x-total-count']
      })
      .catch(() => {
        return { name: 'NetworkError' }
      })
  },
  computed: {
    hasNextPage() {
      var totalPages = Math.ceil(this.totalEvents / 2)
      return this.page < totalPages
    }
  }
};
</script>

<style scoped>
.events {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagination {
  display: flex;
  width: 290px;
}
.pagination a {
  flex: 1;
  text-decoration: none;
  color: #2c3e50;
}

#prev-page {
  text-align: left;
}
#prev-next {
  text-align: right;
}
</style>