<template>
  <HelloWorld msg="Hello World"/>
  <WelcomeHere />
  <CodeEdit />
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import WelcomeHere from './components/WelcomeHere.vue'
import CodeEdit from './components/CodeEdit.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    WelcomeHere,
    CodeEdit
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body {
  margin: 0px;
}
</style>
