<template>

  <div>
    <input id="search" v-model="keyword" class="form-control" type="text" placeholder="Search" aria-label="Search">
    <div v-for="(item, index) of filterItems" :key="index">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img :src="item.img" class="img-fluid rounded-start" alt="..."/>
                </div>
                <div class="col-md-8">
                    <div class="card-body color-black">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">Category: {{item.category}} | Character: {{item.character}} </p>
                        <p class="card-text">Set: {{item.set}} | Grade: {{item.grade}} | Grader: {{item.grader}} | Rarity: {{item.rarity}}</p>
                        <p class="card-text" v-if="item.forsale === true">
                          <small class="text-muted">For Sale: ${{item.price}}</small>
                        </p>
                        <p class="card-text" v-else>
                          <small class="text-muted">Not For Sale</small>
                        </p>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>
</template>

<script>
const myitems = [
        {
          id: 1,
          title: 'PSA 9 Base Set Unlimited Charizard 1999',
          category: 'Pokemon',
          character: 'Charizard',
          set: 'Base Set',
          grader: 'PSA',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://goldinauctions.com/ItemImages/000070/70919a_med.jpeg',
          forsale: false,
          price: 10000
        },
        {
          id: 2,
          title: 'BGS 9 Base Set Unlimited Charizard 1999',
          category: 'Pokemon',
          character: 'Charizard',
          set: 'Base Set',
          grader: 'BGS',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'http://images-cdn.auctionmobility.com/is3/auctionmobility-static/vsHw-1-6T69G//332.1.jpg',
          forsale: false,
          price: 10000
        },
        {
          id: 3,
          title: 'CGC 9 Base Set Unlimited Charizard 1999',
          category: 'Pokemon',
          character: 'Charizard',
          set: 'Base Set',
          grader: 'CGC',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://i.ebayimg.com/images/g/n7YAAOSwqEpiTMqi/s-l1600.jpg',
          forsale: false,
          price: 10000
        },
        {
          id: 4,
          title: 'PSA 9 Team Rocket Unlimited Dark Charizard 2000',
          category: 'Pokemon',
          character: 'Charizard',
          set: 'Team Rocket',
          grader: 'PSA',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://i.ebayimg.com/images/g/L4YAAOSwK~1iTMPU/s-l1600.jpg',
          forsale: true,
          price: 1000
        },//id: 5 - Reserved for PSA 9 1st ed Dark Zard
        {
          id: 6,
          title: '1st Ed. CGC 9 Team Rocket Dark Charizard 2000',
          category: 'Pokemon',
          character: 'Charizard',
          set: 'Team Rocket',
          grader: 'CGC',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://i.ebayimg.com/images/g/35AAAOSw~XBiTMm9/s-l1600.jpg',
          forsale: true,
          price: 2500
        },
        {
          id: 7,
          title: 'CGC 9 Gym Challenge Unlimited Blaines Charizard 2000',
          category: 'Pokemon',
          character: 'Charizard',
          set: 'Gym Challenge',
          grader: 'CGC',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://i.ebayimg.com/images/g/G8QAAOSwTSJiTMiW/s-l1600.jpg',
          forsale: true,
          price: 1000
        },
        {
          id: 8,
          title: 'PSA 9 XY Evolutions Prerelease Charizard 2016',
          category: 'Pokemon',
          character: 'Charizard',
          set: 'XY Evolutions',
          grader: 'PSA',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://cdn.shopify.com/s/files/1/0567/4178/9882/products/P4911_800x.jpg?v=1628723404',
          forsale: false,
          price: 10000
        },
        {
          id: 9,
          title: 'PSA 9 Base Set Shadowless Gyarados 1999',
          category: 'Pokemon',
          character: 'Gyarados',
          set: 'Base Set',
          grader: 'PSA',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://i.ebayimg.com/images/g/SWAAAOSwMF9iTLZy/s-l1600.jpg',
          forsale: true,
          price: 1200
        },
        {
          id: 10,
          title: 'PSA 9 Reverse Holo Legendary Gyarados 2002',
          category: 'Pokemon',
          character: 'Gyarados',
          set: 'Legendary Collection',
          grader: 'PSA',
          grade: '9',
          rarity: 'Reverse Holo - Rare',
          img: 'https://cdn2.mavin.io/production/soldItems/142233560/images/image-0.jpg',
          forsale: false,
          price: 10000
        },
        {
          id: 11,
          title: 'PSA 9 Neo Revelation Unlimited Shining Gyarados 2001',
          category: 'Pokemon',
          character: 'Gyarados',
          set: 'Neo Revelation',
          grader: 'PSA',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://i.ebayimg.com/images/g/3jcAAOSwOBNiTMFg/s-l1600.jpg',
          forsale: true,
          price: 2500
        },
        {
          id: 12,
          title: 'PSA 9 Skyridge Gyarados 2003',
          category: 'Pokemon',
          character: 'Gyarados',
          set: 'Skyridge',
          grader: 'PSA',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://media.karousell.com/media/photos/products/2021/8/17/pokemon_skyridge_gyarados_holo_1629204733_fc854c8a.jpg',
          forsale: false,
          price: 10000
        },
        {
          id: 13,
          title: 'PSA 9 XY Evolutions Prerelease Gyarados 2016',
          category: 'Pokemon',
          character: 'Gyarados',
          set: 'XY Evolutions',
          grader: 'PSA',
          grade: '9',
          rarity: 'Holo - Rare',
          img: 'https://d1w8cc2yygc27j.cloudfront.net/-8203559193804963159/-8965218471224232751.jpg',
          forsale: false,
          price: 10000
        },
        {
          id: 14,
          title: 'PSA 9 2019-20 Ja Morant Player of the Day Relics #42/99',
          category: 'Basketball',
          character: 'Ja Morant',
          set: 'Panini - Player of the Day',
          grader: 'PSA',
          grade: '9',
          rarity: 'Cracked Ice - 42/99',
          img: 'https://i.ebayimg.com/images/g/UE4AAOSwiGViTKo8/s-l1600.jpg',
          forsale: false,
          price: 10000
        },
        {
          id: 15,
          title: 'BGS 10 2019-20 Ja Morant Chronicles Flux Teal - Pop 1 of 1',
          category: 'Basketball',
          character: 'Ja Morant',
          set: 'Chronicles Flux',
          grader: 'BGS',
          grade: '10',
          rarity: 'Teal - Pop 1 of 1',
          img: 'https://i.ebayimg.com/images/g/ZRsAAOSwf8xiTKz9/s-l1600.jpg',
          forsale: true,
          price: 1200
        },
        {
          id: 15,
          title: 'BGS 10 2019-20 Ja Morant Contenders - Rookie of the Year Contenders',
          category: 'Basketball',
          character: 'Ja Morant',
          set: 'Contenders - Rookie of the Year Contenders',
          grader: 'BGS',
          grade: '10',
          rarity: 'Dazzle',
          img: 'https://i.ebayimg.com/images/g/4yoAAOSw1c1h8f7O/s-l1600.jpg',
          forsale: true,
          price: 1000
        },
      ];

export default {
  name: "App",
  data() {
    return { keyword: "", myitems };
  },
  computed: {
    filterItems() {
      const { myitems, keyword } = this;
      return myitems.filter(({ title }) => title.includes(keyword));
    },
  },
};
</script>

<style scoped>
input {
  height: 35px;
  font-size: 18px;
  width: 40%;
  text-align:center;
  color: #2c3e50;
  margin: 10px auto;
  border-radius: 25px;
}
input::placeholder{
  color: #2c3e50;
}
.card {
  margin: 10px;
  text-align: center; 
  max-width: 40%; 
  margin: auto;
}
.card-header {
  background-color: #2c3e50;
}

@media only screen and (max-width: 1000px){
  .card {
    max-width: 80%;
  }
  input {
    width: 80%;
  }
  
}
@media only screen and (max-width: 700px){
  .card {
    max-width: 100%;
    margin: auto;
  }
  input {
    width: 90%;
  }
}
</style>