 /* eslint-disable */
<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <HelloWorld msg="Interview Question"/>
  <ParentVue />
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import ParentVue from './components/Parent.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    ParentVue
  }

}
 /* eslint-disable */
</script>
<!--
onBeforeMount – called before mounting begins

onMounted – called when component is mounted

onBeforeUpdate – called when reactive data changes and before re-render

onUpdated – called after re-render

onBeforeUnmount – called before the Vue instance is destroyed

onUnmounted – called after the instance is destroyed

onActivated – called when a kept-alive component is activated

onDeactivated – called when a kept-alive component is deactivated

onErrorCaptured – called when an error is captured from a child component
-->

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
