<template>
  <router-link to="/">Home</router-link> 
  <div class="about">
    <div v-if="pokemon"
    class="m-auto mt-4 shadow-2xl flex justify-center flex-col items-center">
        <h3 class="text-2xl text-blue-400 uppercase">{{pokemon.name}}</h3>
        <div class="flex justify">
            <img class="w-45" :src="pokemon.sprites.front_shiny" alt="">
            <img class="w-45" :src="pokemon.sprites.back_shiny" alt="">
        </div>
        <h3 class="text-yellow-500">Type</h3>
        <div v-for="(type,idx) in pokemon.types" :key="idx">
            {{type.type.name}}
        </div>
        <h3 class="text-yellow-500">Abilities</h3>
        <div v-for="(ability,idx) in pokemon.abilities" :key="idx">
            {{ability.ability.name}}
        </div>
        <h3 class="text-yellow-500">Moves</h3>
        <div v-for="(stat,idx) in pokemon.stats" :key="idx">
            {{stat.stat.name}}
        </div>
    </div>
  </div>
</template>

<script>
import { useRoute } from 'vue-router'
import { reactive, toRefs } from 'vue';

export default {
  

  setup() {
    const route = useRoute();
    const state = reactive({
      pokemon: null
    })

    fetch(`https://pokeapi.co/api/v2/pokemon/${route.params.slug}`)
        .then((res)=> res.json())
        .then((data)=>{
          console.log(data);
            state.pokemon = data;
        })

    return {...toRefs(state)}
    

    },
}
</script>


<style scoped>
h1{
  color: #2c3e50;
}
</style>
