<template>
  <div class="home">
    <img alt="PokeApi" src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png">
    <PokeSearch msg="Welcome to the Pokemon App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import PokeSearch from '@/components/PokeSearch.vue'

export default {
  name: 'HomeView',
  components: {
    PokeSearch
  }
}
</script>
