<template>
    <div style="text-align:center;">
        <pre>
            <code>$ git clone https://gitlab.com/B3PO/cyntax.org<br>$ cd cyntax.org<br>$ npm install<br>$ npm run serve
            </code>
        </pre>
    </div>
</template>


<style scoped>
    pre {
        margin: auto;
        max-width: 700px;
    }
    code { 
        background-color: #2c3e50; 
        color: #FFF; 
        text-align: left; 
        font-size: 16px;
        font-weight: bold;
        overflow: hidden;
        margin: auto;
        border-radius: 25px;
    }
    pre code {
        background-color: #2c3e50;
        display: block;
        padding: 10px;
    }
    @media only screen and (max-width: 1000px) {
        pre {
            max-width: 700px;
        }
        code { 
            text-align: left; 
            font-size: 16px;
            font-weight: bold;
            margin: auto;
        }
    }
    @media only screen and (max-width: 670px) {
        pre {
            max-width: 100%;
        }
        code { 
            text-align: left; 
            font-size: 12px;
            margin: auto;
        }
    }
</style>