<template>
<h2>Create an event</h2>
<div>
  <form @submit.prevent="onSubmit">

    <div class="form-group">
      <select class="form-control" v-model="event.category" >
        <option value="" disabled selected>Select a category</option>
        <option
          v-for="option in categories"
          :value="option"
          :key="option"
          :selected="option === event.category"
        >{{ option }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <input
        v-model="event.title"
        type="text"
        placeholder="Title"
        class="form-control"
      >
      <input
        v-model="event.description"
        type="text"
        placeholder="Description"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <input
        v-model="event.location"
        type="text"
        placeholder="Location"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <input
        v-model="event.date"
        type="text"
        placeholder="Date"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <input
        v-model="event.time"
        type="text"
        placeholder="Time"
        class="form-control"
      />
    </div>

    <div class="form-check" >
      <input
        v-model="event.pets"
        type="radio"
        :value="1"
        name="pets"
        class="form-check-input"
        for="flexRadioDefault1"
      />
      <label class="form-check-label" style="text-align: left">Yes</label>
    </div>
    <div class="form-check" >
      <input
        v-model="event.pets"
        type="radio"
        :value="0"
        name="pets"
        class="form-check-input"
        for="flexRadioDefault1"
      />
      <label class="form-check-label" style="text-align: left">No</label>
      
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
</template>


<script>
import { v4 as uuidv4 } from 'uuid'

export default {
  data () {
    return {
      categories: [
        'Consultation',
        'Contracting',
        'Bug Bounty',
        'Hire Me',
        'Inquiry',
        'Quote',
        'Connect'
      ],
      event: {
        id: '',
        category: '',
        title: '',
        description: '',
        location: '',
        date: '',
        time: '',
        organizer: '',
        pet: 1
      }
    }
  },
  methods: {
    onSubmit() {
      const event ={
        ...this.event,
        id: uuidv4(),
        organizer: this.$store.state.user
      }
      this.$store.dispatch('createEvent', event)
        .then(() => {
          this.$router.push({
            name: 'EventDetails',
            params: { id: event.id }
          })
        })
        .catch( error => {
          this.$router.push({
            name: 'ErrorDisplay',
            params: { error: error }
          })
        })
    },
    /*
    this.freshEventObject() // correct placement?
    freshEventObject() {
      const id = uuidv4()
      const user = this.$store.state.user
      return {
        id: id,
        category: '',
        title: '',
        description: '',
        location: '',
        date: '',
        time: '',
        organizer: user
      }
    }*/
  }
}
</script>


<style scoped>
form {
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  padding: 10px 40%;
}
input {
  max-width: 500px;
  margin: 10px 0;
}
select {
  max-width: 500px;
}
button {
  width: 50%;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  margin: 10px 0;
  border-color: #21D4FD;
}

@media only screen and (max-width: 1500px){
  form {
    padding: 10px 35%;
  }
  input {
    max-width: 500px;
    margin: 10px 0;
  }
  select {
    max-width: 500px;
  }
  button {
    margin: 10% 0;
  }
}

@media only screen and (max-width: 1000px){
  form {
    padding: 10px 25%;
  }
  input {
    max-width: 500px;
    margin: 10px 0;
  }
  select {
    max-width: 500px;
  }
  button {
    margin: 10% 0;
  }
}

@media only screen and (max-width: 650px){
  form {
    padding: 10px 10%;
  }
  input {
    max-width: 500px;
    margin: 10px 0;
  }
  select {
    max-width: 500px;
  }
  button {
    width: 50%;
    margin: 10% 0;

  }
}
</style>