<template>
  <router-view />
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
#app {
  font-family: Monaco, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 15%;
}
img {
  margin: 10px auto;
}
</style>
