<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Vue Shopping List</title>
        <link rel="stylesheet" href="main.css"> 
    </head>
    <body>
        <div id = "shopping-list">
            <div class="header">
                <h1>{{header.toLocaleUpperCase()}}</h1>
                <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
            </div>
            <div v-if="state === 'edit'" class="add-item-form">
                <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
                <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem">Save Item</button>
            </div>
            <!--<a v-bind:href="newItem" _target="blank">Dynamic Link</a>-->
            <ul>
                <li :class="{strikeout: item.purchased}" v-for="item in items" @click="togglePurchase(item)">{{ item.label }}</li> 
            </ul>
            <p v-if="items.length === 0">Nice job! You've bought all your items </p>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script>
            var shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'default',
                    header: 'shopping list app',
                    newItem: '',
                    items: [
                        {
                            label: 'Birthday Card',
                            purchased: false,
                            highPriority: false
                        },
                        {
                            label: 'Birthday Cake',
                            purchased: true,
                            highPriority: false
                        },
                        {
                            label: 'Birthday Present',
                            purchased: false,
                            highPriority: true
                        }
                    ]
                },
                methods: {
                    saveItem: function() {
                        this.items.push({
                            label: this.newItem,
                            purchased: false,
                        });
                        this.newItem= '';
                    },
                    changeState: function(newState){
                        this.state = newState;
                        this.newItem = '';
                    },
                    togglePurchase: function(item){
                        item.purchased = !item.purchased;

                    }
                }
            });
        </script>
    </body>
</html>