<template>
  <div>
    <h1>{{ msg }}</h1>
    <p>
      For a guide and recipes on how to configure / customize this project, check out the
      <a href="https://pokeapi.co/" target="_blank" rel="noopener">pokeapi.co</a> documentation.
    </p>
    <div class="w-full flex justify-center">
        <input type="text" placeholder="Enter Pokemon Here" class="mt-10 p-2 border-blue-500  border-2 rounded-3xl items-center" v-model="text" @keyup.enter = "updatePokemon"/>
    </div>
    <div class="mt-10 p-4 flex flex-wrap justify-center">
        <div class="ml-4 text-2x text-blue-500"
          v-for="(poke, idx) in filteredPokemon"
          :key="idx"
        >
        <router-link :to="`/about/${urlIdLookup[poke.name]}`">
            {{poke.name}}
        </router-link>
        </div>
    </div>
  </div>
</template>

<script>
import {reactive, toRefs, computed} from 'vue';

export default {
  name: 'PokeSearch',
  props: {
    msg: String
  },
  setup(){
    const state = reactive({
      pokemon: [],
      urlIdLookup: {},
      text: "",
      filteredPokemon: computed(()=> updatePokemon())
    })

    function updatePokemon(){
        if(!state.text){
          return []
        }
        return state.pokemon.filter((pokemon)=>
          pokemon.name.includes(state.text.toLowerCase())
        )
    }

    fetch("https://pokeapi.co/api/v2/pokemon?offset=0")
        .then((res)=>res.json())
        .then((data)=> {
            state.pokemon = data.results;
            state.urlIdLookup = data.results.reduce((acc, cur, idx)=> acc = {...acc, [cur.name]:idx+1}, {})
        })
        return {...toRefs(state)}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  font-weight: bold;
  color: #2a75bb;
}
p {
  margin: 0 35px;
}
a {
  color: #2a75bb;
  font-weight: bold;
}
input {
  text-transform: lowercase;
}
input:hover {
  border-color: yellow;
}

input:focus {
  border-color: yellow;
}
</style>
